@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  body {
    @apply dark:bg-dark-800 dark:text-slate-300 bg-white text-slate-700;
  }
}

.icon {
  @apply w-5 h-5 transition-all text-gray-500 dark:text-gray-400;
}

.icon-button {
  @apply p-2 rounded-full transition-all hover:bg-gray-400/10 dark:hover:bg-gray-700/30 hover:scale-110 focus:bg-gray-400/10 dark:focus:bg-gray-700/30 focus:scale-110 disabled:opacity-30;
}

.input {
  @apply border bg-gray-50 text-sm dark:bg-gray-700 border-slate-300 dark:border-slate-600 outline-none text-gray-900 hover:border-slate-500 focus:border-slate-500 rounded-lg transition-all  dark:hover:border-slate-300 dark:text-white dark:focus:border-slate-300 disabled:text-slate-500 font-light;
}

.input-error {
  @apply border bg-gray-50 text-sm dark:bg-gray-700 border-red-600 dark:border-red-500 outline-none text-gray-900 rounded-lg  dark:text-white font-light;
}

.label {
  @apply text-sm text-dark-800 dark:text-slate-300;
}

.input-error-message {
  @apply text-sm text-red-600 font-light dark:text-red-400;
}

.button {
  @apply bg-purple-700 text-white font-medium rounded-lg p-2 px-3 hover:bg-purple-900 transition-all hover:shadow-md disabled:opacity-60;
}
.button-outline {
  @apply border-purple-700 border text-purple-800 font-medium rounded-lg p-2 px-3 hover:bg-purple-50 transition-all hover:shadow-md
  dark:border-purple-500 dark:text-purple-500;
}

.button-outline-danger {
  @apply border-red-700 border text-red-800 font-medium rounded-lg p-2 px-3 hover:bg-red-50 transition-all hover:shadow-md
  dark:border-red-500 dark:text-red-500;
}

.card {
  @apply border dark:border-slate-600 shadow-lg rounded-xl dark:bg-dark-500 border-slate-200;
}

.section-title {
  @apply uppercase text-xs font-medium  text-slate-600 dark:text-slate-400;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #bbbbbbc7;
  border-radius: 100vh;
}

.scrollbar-store::-webkit-scrollbar {
  height: 5px;
}

.scrollbar-store::-webkit-scrollbar-track {
  display: none;
}

.scrollbar-store::-webkit-scrollbar-thumb {
  background: #d3d3d3c7;
  border-radius: 100vh;
}

.hide-page {
  /* max-height: calc(100vh - 180px);
  overflow: hidden; */
  /*  position: fixed; */
}

@media screen and (max-width: 700px) {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Three dots */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
